# Node modules
frontend/node_modules/
node_modules/

# Build files
frontend/build/
build/

# Java target directory
backend/target/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db